html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  letter-spacing: 0.4px;
}

@media (min-width: 1024px) {
  body {
    padding-left: 6.25rem;
  }
}

.search-form-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transform: translateY(-100%);
  transition: 0.3s ease all;
}

.search-form-container.active {
  transform: translateY(0%);
}

.search-form__field {
  display: flex;
  background-color: #202124;
}

.search-form__field input {
  height: 3.75rem;
  padding: 1.25rem 1rem;
  flex: 1;
  font-size: 1rem;
  color: #eee;
  background: none;
  border: 0;
  outline: 0;
}

.search-form__field button {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background: none;
}

@media (min-width: 1024px) {
  .search-form-container {
    left: 6.25rem;
  }

  .search-form__field input {
    height: 5rem;
    padding: 2rem 3.125rem;
  }

  .search-form__field button {
    padding: 0 3.125rem;
  }
}
