.swiper-container {
  padding: 0 1.225rem;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-disabled {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  top: 0;
  width: 2rem;
  height: 100%;
  margin-top: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2rem;
}

.swiper-wrapper:last-child() {
  font-size: 3rem;
  background: blue;
}

.swiper-slide.explore-all {
  background-color: #ccc;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: grayscale(1);
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

@media (min-width: 768px) {
  .swiper-container {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1024px) {
  .swiper-container {
    padding: 0 2.45rem;
  }
}
